<!DOCTYPE html>
<html>
    <head>
        <base href='/'>
    <link rel ="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <title>Todo-App</title>
    </head>
    <body>
    <div class="container">
        <header class="text-center">
            <hi>Todoapp</hi>
            <h4>organize your life</h4>
            <br>
        </header>
 
