 <% include ../views/partials/header %>
  <div class="row">
    <div class="col-md-6">
            <form method="post" action="/todo/add">
                <div class="form-group">
                  <label>Todo Name</label>
                  <input class="form-control" type="text" name="text" placeholder="Add Todo">
                </div>
                <div class="form-group">
                  <label>Todo Body</label>
                  <textarea class="form-control" name="body" placeholder="Add Body"></textarea>
                </div>
                <br>
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
              </form>
    </div>  
    <div class="col-md-6">
            <ul class="list-group">
                    <% todos.forEach(function (todo) { %>
                      <li class="list-group-item"><%= todo.text %> - <%= todo.body %> 
                      <a class="btn btn-default" href="/todo/edit/<%= todo._id %>" >Edit</a>
                      <a data-id="<%= todo._id %>" href="#" class="delete-todo btn btn-danger">Delete</a>
                    </li>
                    <% }) %>
                  </ul>
               
                 </div>  

</div>

<% include ../views/partials/footer %>
 
 
